html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}
body {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom right, black , gray);
  }
  /* ================= Header ============ */
  .header{
    display:flex;
    flex-direction:column;
  }
  /* navbar */
  nav{
    color: #FFF;
    float: right;
    margin:30px 90px;
  }
  nav ul{
    list-style: none;
  }
  nav ul li {
    float: left;
    transition: .3s;
  }
  nav ul li a{
    text-decoration: none;
    color: #EFEEF5;
    transition: .5;
    font-size: 15px;
    margin-left:16px;
  }
  nav ul li:hover a{
    text-decoration: none;
    color: #591BC5;;
  }
  nav ul li:hover{
    height: 45px;
    padding-top: 30px;
    margin-top: -30px;
   background: #EFEEF5;
    text-decoration: none;
    transform: skew(15deg);
  }
  /* Logo */
  .logo{
    width: 35px;
    height: 35px;
    background: #000000;
    margin: 40px 63px;
    float: left;
    transform: rotate(-30deg);
  }
  .logo span{
    color: #f8f8fa;
    font-size: 2em;
    line-height: 1.4;
    padding-left: 5px;
    font-weight: bold;
  }
  /* Header content & title & button*/
  .header-content{
    text-align: center;
    color:  #EFEEF5;
  }
  .header-content h1{
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 1px;
  }
  .header-content p {
    font-size: 20px;
    line-height: 1.5;
    margin: 20px auto;
    width:30%;
  }
  img{
      width:40%;
      height:auto;
      margin:2%;
  }
  .skills h2{
    margin:0;
  }
  .logos{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    width: auto;
    height: 50px;
    margin:2%;
  }
  .skills{
    margin-top:4%;
    text-align: center;
    color:  #000000;
  }
  h1{
    margin:2%;
  }
  h2{
    font-size:1.5rem;
    display:flex;
    justify-content: center;
    margin-bottom:4%;
  }
  .project{
    justify-content: center;
    width: 45%;
    margin:2%;
  }
  .projects{
    color:#c4c4c4;
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 1.4;
    margin-top:5%;
  }
  .icons{
    height:40px;
    width:auto;
    margin:0 auto;
  }
  .icon-section{
    display:flex;
    justify-content: right;
  }
  .email{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .footer{
    background-image:url('https://get.clt.re/wp-content/uploads/2014/12/footer-background-01.jpg');
    color:rgb(194, 194, 194);
    
  }
  .footer h2{
    margin:1%;
  }
  .email-form{
    color:#b8b8b8;
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin:2% auto;
  }
  .meow{
    width:25rem;
    height:2rem;
  }
  .about{
    display:flex;
  }
  .links{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size:1.2rem;
  }
  .links:hover{
    color:aqua;
  }
  .submit{
    margin:5% auto;
    width:25%;
  }
  label{
    margin:1%;
  }
  .message{
    height:10rem;
    width:25rem;
  }
  @media (max-width: 1024px){
    .description{
      width:60%;
    }
    img{
      width:50%;
      height:70%;
      margin:0 auto;
    }
    .about{
      flex-direction:column;
    }
    .logos{
      flex-flow:wrap;
    }
  }
  @media (max-width:640px){
    .projects{
      flex-direction:column;
      align-items: center;
    }
    .pic{
      margin: 0 auto;
    }
    .background{
      height:280vh;
    }
    .logo{
      margin:4%;
    }
  }
  @media (max-width:685px){
    .logo{
      margin:2%;
    }
    .background{
      height:220vh;
    }
  }
  @media (max-width:666px){
    .logo{
      margin:2%;
    }
    .background{
      height:220vh;
    }
  }
  @media (max-width:592px){
    .logo{
      margin:2%;
    }
    .background{
      height:300vh;
    }
    .projects{
      margin:15%
    }
  }
  @media (max-width:400px){
    .logo{
      margin:2%;
    }
    .background{
      height:450vh;
    }
  }
  @media (max-width:500px){
    .logo{
      margin:2%;
    }
    .background{
      height:320vh;
    }
  }